img{
    display: inline;
    margin: auto;
}
img #imagen{
    float:left;
    width:30px;
    height: 30px;   
}

label #clima{
    float: left;
    text-align: left;
    font-family:'Courier New';
    font-size:200%;
}

#puntasupderecha{
    text-align: right;
}